<!DOCTYPE html>
<html>
<head>
    <title>My Complaints</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>📋 My Complaints</h1>

    <table border="1" width="100%" cellpadding="10">

        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Description</th>
            <th>Status</th>
        </tr>

        {% for complaint in complaints %}

        <tr>
            <td>{{ complaint[0] }}</td>
            <td>{{ complaint[1] }}</td>
            <td>{{ complaint[2] }}</td>
            <td>{{ complaint[3] }}</td>
        </tr>

        {% endfor %}

    </table>

    <br>

    <a href="/login">
        <button>🏠 Back</button>
    </a>

</div>

</body>
</html>